.register-form__container {
    max-width: 760px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.register-form__title {
    font-size: 32px;
    margin-bottom: 2rem;
}

.register-form__textarea {
    resize: vertical;
    min-height: 160px;
}

.register-form__label {
    gap: 0.5em;
}

.label__required {
    background-color: #FD0707;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 100%; padding: 0px 5px;
}

.label__select {
    color: #FD0707;
    font-size: 12px;
}